.sblm
nbproject
.gitignore
public_html/data/upload_pic/*
!public_html/data/upload_pic/index.php
public_html/data/upload_user/*
!public_html/data/upload_user/index.php
public_html/data/userfile/*
!public_html/data/userfile/index.php
public_html/temas/*
!public_html/temas/demokratian/

private/logs/*
!private/logs/index.php
private/data/data_rec/*
!private/data/data_rec/index.php
private/data/backup/*
!private/data/backup/index.php
private/data/data_vut/*
!private/data/data_vut/index.php
private/config/*
private/config/config.inc.php
private/config/config-correo.inc.php
!private/config/index.php
!private/config/config.inc_ejemplo.php
!private/config/config-correo.inc_ejemplo.php
old
archivos_de_pruebas
